{{define "navbar"}}
<header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-nav-scroll">Go Telegram Notifications Bot</h1>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
                <a href="/" class="nav-link">RSS Preview</a>
            </div>
            <div class="nav-item d-none d-md-flex me-3">
                <a href="/config" class="nav-link">Configuration</a>
            </div>
        </div>
    </div>
</header>
{{end}}